<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu Boostrap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse container ">
      <div class="container center">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >User <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="user">User</a></li>
              <li><a href="#">Group</a></li>
              <li><a href="#">Role</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Product <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Product</a></li>
              <li><a href="#">Category</a></li>
              <li><a href="#">Tag</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Setting <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Banner</a></li>
              <li><a href="#">Info</a></li>
            </ul>
          </li>
        </ul>

        
        
      </div>
    </nav>

    <div class="container ">
      <h3>Welcome to Admin</h3>
      <p>.</p>
    </div>
   
   <div class=" container">
    <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    
 


  </body>
</html>